<!-- View -->
<h1>Articles</h1>

<ul>
    <!-- Rubyコードを実行する(評価する)ためのERBタグ -->
    <% @articles.each do |article| %>
        <li>
            <!-- Rubyコードを実行して(評価して)返された値を出力するためのERBタグ -->
            <%= article.title %>
        </li>
    <% end %>
</ul>